# TASK 4.6 (B) 
# Merging Orders & Products Dataframes

#### Table of Content

1. Importing Libraries
2. Dataframes
3. Checking the Dataframes
4. Merging the Dataframes
5. Exporting Merged Dataframes

## 1. Importing Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

## 2. Dataframes

In [2]:
# Creating a path

path = r'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

In [3]:
path

'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

> ##### D3: In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [4]:
# Importing dataframe 'orders_products_combined.pkl'

df_OP_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Importing dataframe 'products_checked.csv'

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 3. Checking the Dataframes

> ##### D4: Check the shape of the imported dataframe (it should be the same as the one you exportedâ€”always check!).

In [6]:
df_OP_comb.shape

(32434489, 11)

In [7]:
df_prods.shape

(49672, 5)

> ##### D5: Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [8]:
df_OP_comb.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## 4. Merging the Dataframes

In [10]:
# Creating a new dataframe and merging the dataframes into it

df_OPP_merged = df_OP_comb.merge(df_prods, on = 'product_id', how = 'left', indicator = 'opp_merge')

In [11]:
df_OPP_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,opp_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

> ##### D6: Confirm the results of the merge using the merge flag.

In [12]:
df_OPP_merged['opp_merge'].value_counts()

both          32404859
left_only        30200
right_only           0
Name: opp_merge, dtype: int64

In [13]:
df_OPP_merged.shape

(32435059, 16)

## 5. Exporting Merged Dataframes

> ##### D7: Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [14]:
df_OPP_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))