# EXERCISE 4.6 (A) 
# Combining & Exporting Data

#### Table of Content

1. Importing Libraries
2. Dataframes
3. Checking the Dataframes
4. Merging the Dataframes
5. Exporting Merged Dataframes

## 1. Importing Libraries

In [1]:
# Imporing libraries

import pandas as pd
import numpy as np
import os

## 2. Dataframes

In [2]:
# Creating a path

path = r'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

In [3]:
path

'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

In [4]:
# Importing dataframe 'order_products__prior'

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [5]:
# Importing dataframe 'orders_checked'

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

## 3. Checking the Dataframes

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,0.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
df_ords.shape

(3421083, 7)

## 4. Merging the Dataframes

In [10]:
# One way to merge (default > how = 'inner')

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# Another way to merge (how ='outer'), notice the difference in valuecount below. We will not use this here though.

df_merged_large1 = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True, how = 'outer')

In [16]:
df_merged_large1['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

## 5. Exporting Merged Dataframes

#### Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'), index=False)

#### Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [19]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))