# EXERCISE & TASK 4.7 
# Deriving New Variables

#### Table of Content

1. Importing Libraries
2. Dataframes
3. Creating User Defined Conditions
4. If-Statements with the loc() Function
5. If-Statements with For-Loops
6. Task 4.7
7. Exporting the Dataframe

## 1. Importing Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

## 2. Dataframes

In [2]:
path = r'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

In [3]:
path

'/Users/charliegehant/Dropbox/4. Career Foundry/Achievement 4 - Python Fundamentals for Data Analysts/02-2022 Instacart Basket Analysis'

In [4]:
# Importing dataframe 'orders_products_merged.pkl'

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
# Setting a smaller dataframe to avoid computer lagging

df = ords_prods_merged[:1000000]

In [6]:
df.shape

(1000000, 16)

## 3. Creating User Defined Conditions

In [7]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/3k/c10s97dd3s3468r3cqy1bqgw0000gn/T/ipykernel_2947/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

Mid-range product    672525
Low-range product    314109
High range            12413
Not enough data         953
Name: price_range, dtype: int64

In [10]:
df['prices'].max()

99999.0

## 4. If-Statements with the loc() Function

Applied to the sample dataframe

In [12]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [13]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [14]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [15]:
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     672525
Low-range product     314109
High-range product     12413
NaN                      953
Name: price_range_loc, dtype: int64

Applied to the whole dataframe

In [16]:
ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
NaN                      30200
Name: price_range_loc, dtype: int64

## 5. If-Statements with For-Loops

In [19]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,opp_merge,price_range_loc
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product

In [20]:
ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6209808
1    5665951
6    4500391
2    4217868
5    4209603
3    3844175
4    3787263
Name: orders_day_of_week, dtype: int64

In [21]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [22]:
ords_prods_merged['busiest_day'] = result

In [23]:
ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22437988
Busiest day        6209808
Least busy         3787263
Name: busiest_day, dtype: int64

In [24]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,opp_merge,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy

## 6. Task 4.7

> ##### D1: If you haven’t done so already, complete the instructions in the Exercise for creating the “price_label” and “busiest_day” columns.

> <i> Done, see above.

> ##### D2: Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [27]:
result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if (value == 0) + (value == 1):
    result.append("Busiest two days")
  elif (value == 4) + (value == 3):
    result.append("Slowest two days")
  else:
    result.append("Regularly busy")

In [28]:
ords_prods_merged['busiest_days'] = result

> ##### D3: Check the values of this new column for accuracy. Note any observations in markdown format.

> <i> I can see my query is correct as 0 (6.204.182) + 1 (5.660.230) = 11.864.412 (busiest two days). 
The same is true for 4 + 3, the slowest two days, and the regularly busy values.

> <i> Moreover, when looking at the sample table (head) I can see the data has been correctly updated in my new buesiest_days column.

In [29]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly busy      12927862
Busiest two days    11875759
Slowest two days     7631438
Name: busiest_days, dtype: int64

In [30]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,opp_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy

> ##### D4: When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [31]:
# Firstly, exploring which hours are busiest, by hour.

ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2764476
11    2738647
14    2691598
15    2664583
13    2663346
12    2620898
16    2537506
9     2456751
17    2089510
8     1719991
18    1637956
19    1259416
20     977049
7      891951
21     796379
22     634743
23     402621
6      290796
0      218951
1      115787
5       88064
2       69435
4       53284
3       51321
Name: order_hour_of_day, dtype: int64

In [32]:
# Then, finding out some summary statistcs for the orders by hour

hourofday_stats = ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

In [33]:
# I will use these to define the time periods for the senior technical officer. 
# Namely I will use the the first (<25%) and third (>75%) quartiles to define most & fewest orders.

hourofday_stats.describe()

count    2.400000e+01
mean     1.351461e+06
std      1.079380e+06
min      5.132100e+04
25%      2.728348e+05
50%      1.118232e+06
75%      2.558354e+06
max      2.764476e+06
Name: order_hour_of_day, dtype: float64

In [34]:
# Defining time period with: 
# 'most orders'(> 2.556.034) = (>75%) = (3rd quartile) = (>= 10 & <= 15)
# 'average orders'(<= 2.556.034 & >= 272.562) = (75%-25%) = (1st-3rd quartiles) = ((>= 6 & <= 9) + (>= 16 & <= 23))
# 'fewest orders' (< 272.562) = (<25%) = (1st quartile) = (>= 0 & <= 5)

result = []

for value in ords_prods_merged["order_hour_of_day"]:
  if (value >= 10) & (value <= 15):
    result.append("Most orders")
  elif (value >= 0) & (value <= 5):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [35]:
ords_prods_merged['busiest_period_of_day'] = result

In [36]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,opp_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2539329,1,prior,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,2539329,1,prior,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both,Low-range product,Regularly busy,Regularly busy,Average orders
3,2539329,1,prior,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both,Low-range product,Regularly busy,Regularly busy,Average orders
4,2539329,1,prior,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both,Low-range product,Regularly busy,Regularly busy,Average orders

> ##### D5: Print the frequency for this new column.

In [37]:
ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       16143548
Average orders    15694669
Fewest orders       596842
Name: busiest_period_of_day, dtype: int64

> ##### D6: Ensure your notebook is clean and structured and that your code is well commented.

> <i> Created a table of content and double checked comments.

In [38]:
ords_prods_merged.shape

(32435059, 20)

## 7. Exporting the Dataframe

> ##### D7: Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [39]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_new_variables.pkl'))